# Folders 
/content
/thesis_text
/vorlage_nova
/.venv
/pictures

# Files
.DS_Store
goodresearch.md 

# python files
testrunmetaworld.py

# Excel files
chronogram.xlsx



# pyc files
*.pyc

# Claude Files
CLAUDE.md

# TensorNEAT run artifacts
/output/tensorneat/
